extend ./_layout.pug

block content
  h1
    | GULP PUG Dummy へようこそ
  p
    img(src=site.path.img+"cover.jpg")
  p
    | あなたは 1,215 人目の訪問者です。
  section.topics
    h2
      | トピックス
    ul
      li
        a(href="#")
          | 採用情報を更新しました
      li
        a(href="#")
          | 年末年始休業のお知らせ
      li
        a(href="#")
          | 夏季休業のお知らせ