extend ./_layout.pug

block content
  h1
    | 会社概要
  p
    img(src=site.path.img+"cover-outline.jpg")
  section.topics
    h2
      | 沿革
    ul
      li
        | 昭和20年 創業
      li
        | 昭和44年 本社移転
      li
        | 平成元年　上場